.header {
	position: relative;
}

.navigation__list {
	display: none; /* Скрываем навигацию по умолчанию */
	flex-direction: column;
	position: absolute;
	top: 60px; /* Позиция под заголовком */
	right: 0;
	background-color: white; /* Цвет фона меню */
	border: 1px solid #ccc; /* Граница меню */
	z-index: 1000; /* Чтобы меню было поверх всего */
}

.burger {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	position: absolute;
	top: 20px; /* От верхнего края */
	right: 20px; /* От правого края */
}

.line {
	width: 30px;
	height: 4px;
	background-color: black;
	margin: 4px 0;
	transition: all 0.3s; /* Плавный переход */
}

.burger.active .line:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
	opacity: 0; /* Скрываем среднюю линию */
}

.burger.active .line:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 615px) {
	.navigation__list {
		display: none; /* Скрываем навигацию по умолчанию */
	}
}
