/* Модальное окно */
.modal {
	display: none; /* Скрыто по умолчанию */
	position: fixed; /* Фиксированное позиционирование */
	z-index: 1000; /* Поверх всех других элементов */
	left: 0; /* Располагаем модальное окно от левого края экрана */
	top: 0; /* Располагаем модальное окно от верхнего края экрана */
	width: 100vw; /* Ширина 100% от ширины экрана */
	height: 100vh; /* Высота 100% от высоты экрана */
	background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
	display: flex; /* Для выравнивания модального окна по центру */
	justify-content: center; /* Горизонтальное выравнивание */
	align-items: center; /* Вертикальное выравнивание */
}

/* Содержимое модального окна */
.modal-content {
	background-color: #fff;
	padding: 50px 70px 31px;
	position: relative;
	width: 80%;
	max-width: 821px; /* Ширина модального окна */
	height: 757px; /* Высота модального окна */
	overflow: auto; /* Чтобы не вылезало содержимое, если будет много текста */
}

/* Изображение внутри модального окна */
.modal-img {
	width: 100%; /* Изображение растягивается по ширине модального окна */
	height: auto; /* Пропорциональное изменение высоты */
	margin-bottom: 20px;
	border-radius: 0;
}

.news__img {
	border-radius: 0;
}

/* Заголовок внутри модального окна */
#modal-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	color: #1c609e;
}

.modal-wrapp {
	max-width: 682px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #000;
}

#modal {
	&-text1 {
		margin-top: 23px;
	}
	&-text2 {
		margin-top: 23px;
	}
	&-text3 {
		margin-top: 23px;
	}
	&-text4 {
		margin-top: 23px;
	}
}

/* Крестик закрытия */
.close {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
}

.dev {
	margin-top: 16px;
	width: 98px;
	height: 2px;
	background-color: #1a76dc;
}
