.news {
	padding-top: 62px;
	&__title {
		@include title;
	}
	&__inner {
		margin-top: 54px;
		position: relative;
		margin: 0 auto;
		margin-top: 55px;
		max-width: 1142px;
	}

	&__slide {
		padding: 13px 18px;
		max-width: 367px;
		border-radius: 8px;
		background-color: $white;
	}
	&__search {
		display: flex;
		justify-content: flex-end;
	}
	.owl-dots .owl-dot span {
		width: 12px;
		height: 12px;
		background-color: #1c609e;
		border-radius: 30%;
	}
	.owl-theme .owl-dots .owl-dot.active span {
		background-color: #1c609e;
	}
}

.slide {
	&__time {
		display: flex;
		justify-content: flex-end;
		font-weight: 500;
		font-size: 10px;
		line-height: 1.2;
		letter-spacing: 0.04em;
		color: #484848;
	}
	&__img {
		margin-top: 14px;
	}

	&__title {
		min-height: 38px;
		max-width: 332px;
		margin-top: 16px;
		font-weight: 700;
		font-size: 18px;
		line-height: 1;
		letter-spacing: 0.02em;
		color: #1c609e;
	}
	&__text {
		max-width: 332px;
		margin-top: 11px;
		min-height: 33px;
		font-weight: 400;
		font-size: 10px;
		line-height: 1.2;
		letter-spacing: 0.04em;
		color: #484848;
	}
}

.news__prev,
.news__next {
	z-index: 20;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 34px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.news__prev {
	left: -43px;
	background-image: url("../img/newsPrev.svg");
}

.news__next {
	right: -43px;
	background-image: url("../img/newsNext.svg");
}

@media (max-width: 1440px) {
	.news {
		&__slide {
			max-width: 340px;
		}
	}
}

@media (max-width: 1200px) {
	.news {
		&__slide {
			max-width: 310px;
		}
	}
}

@media (max-width: 992px) {
	.news {
		&__slide {
			max-width: 100%;
		}
	}
}
