body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: $bg-color;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 30px;
	&__header {
		max-width: 1140px;
		margin: 0 auto;
	}
	&__nav {
		max-width: 805px;
		margin: 0 auto;
		padding: 0 15px;
	}
	&__news {
		position: relative;
		overflow: hidden;
		max-width: 1290px;
		padding: 0 30;
		margin: 0 auto;
	}
}

a {
	color: $white;
}

.hidden {
	display: none;
}
