$main-color: #013476;
$second-color: #1c609e;
$bg-color: #f4f8ff;
$text-color: #484848;
$hover-color: #1a76dc;
$white: #fff;
$black: #000000;

@mixin btn {
	border-radius: 4px;
	box-shadow: 0 4px 10px 0 rgba(28, 69, 107, 0.25);
	background: #013476;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	letter-spacing: 0.02em;
}
@mixin title {
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #013476;
}
